####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
log.level = debug
checkPolicies=true
forceCheckAllDependencies=false
forceUpdate=false
#offline=true
offline.prettyJson=true
connectionRetries=3
connectionRetriesInterval=5000
dependenciesOnly=true
#enableImpactAnalysis=true
ignoreSourceFiles=false
#printCliErrors=true


ignoreJavaScriptFiles=false
#projectPerFolder=true

#wss.connectionTimeoutMinutes=60
#wss.url=https://saas.whitesourcesoftware.com/agent
#wss.url=https://dev.whitesourcesoftware.com/agent
#wss.url=http://localhost:8089/agent

resolveAllDependencies = false

#npm.resolveDependencies=false
#npm.includeDevDependencies=false
#npm.runPreStep=true
#npm.accessToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJlNzEyM2VmMC1iNGZkLTY1OGMtOTI0Ni1iMTlmNDJjODhjNmQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZDljMjBlYTItNzM4MC00YjllLTg1MGEtMzA1OGQ3NTM5NWI4Iiwic2lkIjoiMzU5NzkzYWQtMzZmNC00NTE2LTkyZmUtMjExOGQ0ZWFjYjY1IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NGI4ZTljNWItZjk0ZC00NzAzLThkNjYtMWE0ZDQ0ODQ2OTU2IiwibmJmIjoxNTE4MDA2Nzk1LCJleHAiOjE1MjU3ODI3OTR9.VXcw3K0BTJzCFxc3dGGfTGDuOW3AMDp3cZfaUR_tmkwad5lHXJnl1wfUvsu6wcGm1fH5Y_HfMbALomD-eM3yRgTbBOjkFAYt3-iO02Lb-n2xs88X5tGtLJZXX7JQ1NyQ0fvF1EYYOlSExN3kXcbQOV-jnVvvIEH7_r98hiyCRqMAFU0SI350vPLn3n5wQM0wXSd9-T7p8lSFgM9R9BEonNkj8yw9x_eAyyzIESZC7TBZhJlQxcxDdCys_WaHJ_arz-GIbSZGk0Q2NNGU96xoBUAQKeVoWGsAH94_85Ft5xtMUOGDYNqF2qGodPSA2CM0k34xxO_7mlecA6SUGiS9wg

#bower.resolveDependencies=false
#bower.runPreStep=false
nuget.resolveDependencies=false

maven.ignoredScopes=test provided
maven.resolveDependencies=true
#maven.aggregateModules=false

paket.resolveDependencies = false

python.resolveDependencies = false
gradle.resolveDependencies = false
gradle.runAssembleCommand = true
gradle.runPreStep = true

#go.detailedHierarchy=true
#go.resolveDependencies=true
go.dependencyManager=dep
go.collectDependenciesAtRuntime=true
#go.glideIgnoreTestPackages=true
#go.glideIgnoreSourceFiles=false
#go.gradleEnableTaskAlias=false
go.ignoreSourceFiles=true
#excludeDependenciesFromNodes=.*garyburd/redigo/redis,.*yaml.v2

php.resolveDependencies = false

html.resolveDependencies = false


##################################
# Organization tokens:
##################################
#saas key
apiKey=465d4d8873ea4a8fb982cf063c999bac45654261d45240d4810b91881f0e64ee
# staging key
#apiKey=5cce01e0-8e5c-415e-9f3f-7f2bf895ab4c
# localhost key
#apiKey=be034c94ce4a4f4ca8c1c17be5d65e26b316aad4de6246f290ad6deff46fd0911
# dev key
#apiKey=88cd28476aec4fe0bce0972d68e429c1811b0283068a4632a4eae439bf70e691

projectName=mvn_1
projectVersion=
projectToken=

productName=ServerlessScans
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.java **/*.nupkg
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar **/*.pom
#includes=**/*.js  **/*.json
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.c#  **/*.csharp 
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
#includes=**/*.gradle **/*.groovy **/*.java **/*.js **/*.json
#includes=**/*.go
#excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true

################################
# Serverless settings
################################
serverless.provider=aws-lambda
serverless.scanFunctions=true
#serverless.functionNames=RequestUnicorn
#serverless.region=us-east-1
serverless.maxFunctions=5
serverless.excludes=

